.navContainer {
    background-color: #7A0045;
}
.navLinks {
    color: white !important;
    font-weight: bold !important;
    border: solid white;
    border-radius: 20px;
    margin: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-decoration: none;

}
.navDropdownLinksTitle{
    background-color: #7A0045 !important;
    color: white !important;
    margin:10px !important;
    padding: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border: solid white;
    border-radius: 20px;
    font-weight: bold !important;
    text-decoration: none;
}
.navDropdownLinks{
    background-color: #7A0045 !important;
    font-weight: bold !important;

}
.navLinks:hover {
    color: #7a0045 !important;
    background-color: white !important;
    transform: scale(1.05)
}
.navSideLinks {
    display: none !important;
    color: white !important;
    font-weight: bold !important;
    border: solid white;
    border-radius: 20px;
    margin: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-decoration: none;
}
.dropdown-menu{
    margin: 0px !important;
    border: 0px !important;
    padding: 0px !important;
    color: white !important;
    font-weight: bold !important;
}
.logOut {
    display: none !important;
    color: white !important;
    font-weight: bold !important;
    text-align: center !important;
}

.logOut:hover {
    text-decoration: underline !important;
}
.userNameLink{
    color: #d89841 !important;
    font-weight: bold !important;
    text-align: end !important;
    border: solid #d89841;
    border-radius: 20px;
    margin: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-decoration: none;
}
.userNameLink:hover{
    transform: scale(1.05);
    background-color: #d89841 !important;
    color:#7a0045 !important;

}
.smallScreen{
    display: none !important;
    background-color: #7A0045 !important;
    cursor: pointer !important;
}
.bigScreen{
    cursor: pointer !important;
}
.navActive{
    text-decoration: underline !important;
}
@media screen and (max-width: 576px) {
    .navSideLinks {
        display: inherit !important;
    }

    .logOut {
        display: inherit !important;
    }
    .smallScreen{
        display: inherit !important;
    }
    .bigScreen{
        display: none !important;
    }
}