.containerAbout{
    padding: 5rem 0 5rem 0;
    gap: 2rem;
}

.titleAbout{
text-align: center;
font-weight: bold;
color:#7A0045;
}

.subTitleAbout{
    font-style: italic;
    text-align: center;
}

.descriptionAbout{
    color: black !important;
   

}

