.buttonsFormAddStudent{
    background-color: #7a0045 !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 10px !important;
    padding: 10px !important;
    margin: 30px;
    width: 300px;
}
.formFields{
    color: #7a0045;
    font-weight: bold !important;
}