.buttonAddStudent {
  color: white !important;
  font-weight: bold !important;
  border: solid white;
  border-radius: 20px;
  margin: 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  text-decoration: none; 
}

.title{
  color: #7a0045 !important;
}
.banned{
  text-decoration:line-through;
  text-decoration-color: red;
}

  
.buttonAddStudent:hover{
  transform: scale(1.05)
}
.customDatepicker {
  color: #333;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 12px;
}
@media screen and (max-width: 576px){
    .table-container {
        overflow-x: scroll !important;
      }
      .buttonAddStudent{
        margin-top: 20px;
      }

}
