.addStudent{
 font-weight: bold  !important ;
 color: white !important;
 background-color: #7a0045 !important;
 border: solid #7a0045 2px !important;
}


.title{
  color: #7a0045 !important;
}
.banned{
  text-decoration:line-through;
  text-decoration-color: red;
}
  
.addStudent:hover{
  transform: scale(1.05)
}


.customDatepicker {
  color: #333;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 12px;
}

@media screen and (max-width: 576px){
    .table-container {
        overflow-x: scroll !important;
      }
      .buttonAddStudent{
        margin-top: 20px;
      }

}
