.title{
  color: #7a0045 !important;
}
.banned{
  text-decoration:line-through;
  text-decoration-color: red;
}

  
.buttonAddStudent:hover{
  transform: scale(1.05)
}

@media screen and (max-width: 576px){
    .table-container {
        overflow-x: scroll !important;
      }
      .buttonAddStudent{
        margin-top: 20px;
      }
}
