
.authContainer {
    background-color: #95968a !important;
    min-height: 70vh;
    color: #7a0045 !important;
    display: flex;
    justify-content: center;
}
.authForm {
    background-color: #CDCFC0 !important;
    border: #7a0045 solid 3px;
    border-radius: 10px;
}
.authTitle {
    color: #7a0045;
    font-weight: bold;
    text-align: center;
}
.authFormGroup {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    display: flex;
}
.authInput {
    border: 0px;
}

.authInput:focus {
    outline: none;
    border-bottom-color: #ccc;
}
.authButton {
    margin-top: 10px;
    border: none;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #7A0045;
    border-radius: 8px;
    transition-duration: 1s;
}
.authButton:hover{
    transform: scale(1.05);
}
.authLink{
    color: #7A0045;
    text-decoration: none;
}
.authLink:hover{
    color: #7A0045;
    text-decoration: underline;
}
.authSpan {
    color: red;
    text-decoration: none;
    font-weight: lighter;
}
@media screen and (max-width: 576px) {
    .authForm {
        min-height: 70vh;
        border: none;
        border-radius: 0px;
    }
}