.loginContainer {
    background-color: #95968a !important;
    min-height: 70vh;
    color: #7a0045 !important;
    display: flex;
    justify-content: center;
}


.formGroupLogin {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    display: flex;
}

.formLogin {
    background-color: #CDCFC0 !important;
    border: #7a0045 solid 3px;
    border-radius: 10px;
}

.loginTitle {
    color: #7a0045;
    font-weight: bold;
    text-align: center;
}


.spamLogin {
    color: red;
    text-decoration: none;
    font-weight: lighter;
}

.inputLogin {
    border: 0px;
}

.inputLogin:focus {
    outline: none;
    border-bottom-color: #ccc;
}

.loginButton {
    margin-top: 10px;
    border: none;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #7A0045;
    border-radius: 8px;
    transition-duration: 1s;
}

.loginButton:hover {
    background-color: #f05aaf;
    color: white;

}
.registerLink{
    color: #7A0045;
    text-decoration: none;
}
.registerLink:hover{
    color: #7A0045;
    text-decoration: underline;
}
@media screen and (max-width: 576px) {
    .formLogin {
        min-height: 70vh;
        border: none;
        border-radius: 0px;
    }
}